/*most of this information is usually subject to change seeing as to how coding is a first for me and is hghly  experimental*/
         
               #section-dark{
                             background-color:#0f172a;
                             color:white;
                            }
               #section-light{
                              background-color:grey;
                              color:white;
                             }
               #home{
                      font-family:Arial, Helvetica, sans-serif;
                      background:linear-gradient(to bottom,grey,gray,gainsboro,whitesmoke);
                      color:#0f172a;
                      font-style:oblique;
                      display:flex;
                      justify-content:center;
                      flex-wrap:wrap;
                    }
               #home{
                     font-size:18px;
                     font-weight:500%;
                     text-decoration:none;
                    }
             #home h1{ 
                      padding:12px 24px;
                      justify-content: center;
                      align-items: center;
                      display: flex;
                      font-size:35px;
                      color:#0f172a;
                     }

             .btn{
                  margin-top:20px;
                  padding:12px 24px;
                  background-color:white;
                  color:#0ea5e9;
                  text-decoration:none;
                  font-weight:bold;
                  border-radius:6px;
                  }
             .btn:hover{
                        background-color:#e0f2fe;
                       }
          #navbar {
                   display:flex;
                   background-color:purple;
                   justify-content:center;
                   border-radius:8px;
                   padding:18px 20px;
                   margin: 18px;
                   flex-wrap:35px;
                   width:100%
                  }
        #navbar a{ 
                   color:white;
                   text-decoration:none;
                   font-weight:bold;
                   font-size:18px;
                   padding:6px 12px;
                   white-space:nowrap;
                 }
 #navbar a:visited{
                   color:white;
                  } 
 #navbar a:hover{
                 background-color:palegoldenrod;
                 color:purple;
                }
           


